* {
  color: #93a1a1;
}

#themes-list {
  border: 1px solid #2aa198;
  width: 280px;
  background-color: #1a7770;
  font-size: 12px;
}

.theme-item {
  height: 65px;
  border: 1px solid #2aa198;
  padding: 16px;
  background-color: #073642;
}
.option-list {
  text-align: left;
  font-size:12px;
  margin-left:64px;
}
.theme-image {
  max-width:500px;
  margin-left: 32px;
  max-height:400px;
  margin-bottom: 32px;
}
.theme-name {
  height: 64px;
  text-align: left;
  margin-left: 48px;
  font-size: 20px;
}
.theme-item .selected {
  background-color: #657b83;
  height: 64px;
  border: 1px solid #2aa198;
  padding: 16px;
}

#cur-theme {
  border: 1px solid #2aa198;
  background-color: #002b36;
  width: 700px;
}

#right {
  width: 700px;
  border: 1px solid #2aa198;
  flex-direction: column;
}

#bottom-bar {
  height: 80px;
  width: 700px;
  background-color: #073642;
  border: 1px solid #2aa198;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.bot-button {
  margin-left: 10px;
  width: 100px;
  height: 60px;
  margin-right: 10px;
  background-color: #002b36;
  font-size:15px;
}

#main {
  flex-direction: row;
  width:980px;
}

/*:root {
	--main-bg: #073642;
	--text: #93a1a1;
	--sec-bg:  #002b36;
	--border: #2aa198;
	--link: #657b83;
	--shadow: #1a7770;
}*/
